table,td,tr{
    border: 1px solid rgb(231, 218, 218);
    border-collapse: collapse;
    border-color: rgb(159, 164, 5);
}
th{
    background-color: rgb(209, 105, 105);
    color: antiquewhite;
}
th,td{
    text-align: center;
}